# Geoapify Geocode Demo

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import requests
import time
import json
from scipy.stats import linregress
from pprint import pprint

# API key
api_key = "60a6ffdd990b65ca16853197a6e0c84c"

In [3]:
path = "..\project_3\cities.json"

with open(path, 'r') as file:
    data = json.load(file)

# Initialize lists to store cities and coordinates
cities = []
coordinates = []

# Extract data from JSON
for entry in data:
    cities.append(entry['city'])
    coordinates.append((entry['latitude'], entry['longitude']))

# Print the lists
print("Cities:", cities)
print("Coordinates:", coordinates)

Cities: ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia', 'Phoenix', 'San Antonio', 'San Diego', 'Dallas', 'San Jose', 'Austin', 'Indianapolis', 'Jacksonville', 'San Francisco', 'Columbus', 'Charlotte', 'Fort Worth', 'Detroit', 'El Paso', 'Memphis', 'Seattle', 'Denver', 'Washington', 'Boston', 'Nashville-Davidson', 'Baltimore', 'Oklahoma City', 'Louisville/Jefferson County', 'Portland', 'Las Vegas', 'Milwaukee', 'Albuquerque', 'Tucson', 'Fresno', 'Sacramento', 'Long Beach', 'Kansas City', 'Mesa', 'Virginia Beach', 'Atlanta', 'Colorado Springs', 'Omaha', 'Raleigh', 'Miami', 'Oakland', 'Minneapolis', 'Tulsa', 'Cleveland', 'Wichita', 'Arlington', 'New Orleans', 'Bakersfield', 'Tampa', 'Honolulu', 'Aurora', 'Anaheim', 'Santa Ana', 'St. Louis', 'Riverside', 'Corpus Christi', 'Lexington-Fayette', 'Pittsburgh', 'Anchorage', 'Stockton', 'Cincinnati', 'St. Paul', 'Toledo', 'Greensboro', 'Newark', 'Plano', 'Henderson', 'Lincoln', 'Buffalo', 'Jersey City', 'Chula Vista', 'Fort Wayne', 'Orlando', 'St. Petersburg', 'Chandler', 'Laredo', 'Norfolk', 'Durham', 'Madison', 'Lubbock', 'Irvine', 'Winston-Salem', 'Glendale', 'Garland', 'Hialeah', 'Reno', 'Chesapeake', 'Gilbert', 'Baton Rouge', 'Irving', 'Scottsdale', 'North Las Vegas', 'Fremont', 'Boise City', 'Richmond', 'San Bernardino', 'Birmingham', 'Spokane', 'Rochester', 'Des Moines', 'Modesto', 'Fayetteville', 'Tacoma', 'Oxnard', 'Fontana', 'Columbus', 'Montgomery', 'Moreno Valley', 'Shreveport', 'Aurora', 'Yonkers', 'Akron', 'Huntington Beach', 'Little Rock', 'Augusta-Richmond County', 'Amarillo', 'Glendale', 'Mobile', 'Grand Rapids', 'Salt Lake City', 'Tallahassee']
Coordinates: [(40.7127837, -74.0059413), (34.0522342, -118.2436849), (41.8781136, -87.6297982), (29.7604267, -95.3698028), (39.9525839, -75.1652215), (33.4483771, -112.0740373), (29.4241219, -98.49362819999999), (32.715738, -117.1610838), (32.7766642, -96.79698789999999), (37.3382082, -121.8863286), (30.267153, -97.7430608), (39.768403, -86.158068), (30.3321838, -81.65565099999999), (37.7749295, -122.4194155), (39.9611755, -82.99879419999999), (35.2270869, -80.8431267), (32.7554883, -97.3307658), (42.331427, -83.0457538), (31.7775757, -106.4424559), (35.1495343, -90.0489801), (47.6062095, -122.3320708), (39.7392358, -104.990251), (38.9071923, -77.0368707), (42.3600825, -71.0588801), (36.1626638, -86.7816016), (39.2903848, -76.6121893), (35.4675602, -97.5164276), (38.2526647, -85.7584557), (45.5230622, -122.6764816), (36.1699412, -115.1398296), (43.0389025, -87.9064736), (35.0853336, -106.6055534), (32.2217429, -110.926479), (36.7468422, -119.7725868), (38.5815719, -121.4943996), (33.7700504, -118.1937395), (39.0997265, -94.5785667), (33.4151843, -111.8314724), (36.8529263, -75.97798499999999), (33.7489954, -84.3879824), (38.8338816, -104.8213634), (41.2523634, -95.99798829999999), (35.7795897, -78.6381787), (25.7616798, -80.1917902), (37.8043637, -122.2711137), (44.977753, -93.2650108), (36.1539816, -95.99277500000001), (41.49932, -81.6943605), (37.688889, -97.336111), (32.735687, -97.10806559999999), (29.95106579999999, -90.0715323), (35.3732921, -119.0187125), (27.950575, -82.4571776), (21.3069444, -157.8583333), (39.7294319, -104.8319195), (33.8352932, -117.9145036), (33.7455731, -117.8678338), (38.6270025, -90.19940419999999), (33.9533487, -117.3961564), (27.8005828, -97.39638099999999), (38.0405837, -84.5037164), (40.44062479999999, -79.9958864), (61.2180556, -149.9002778), (37.9577016, -121.2907796), (39.1031182, -84.5120196), (44.9537029, -93.0899578), (41.6639383, -83.55521200000001), (36.0726354, -79.7919754), (40.735657, -74.1723667), (33.0198431, -96.6988856), (36.0395247, -114.9817213), (40.8257625, -96.6851982), (42.88644679999999, -78.8783689), (40.72815749999999, -74.0776417), (32.6400541, -117.0841955), (41.079273, -85.1393513), (28.5383355, -81.3792365), (27.773056, -82.64), (33.3061605, -111.8412502), (27.5305671, -99.48032409999999), (36.8507689, -76.28587259999999), (35.9940329, -78.898619), (43.0730517, -89.4012302), (33.5778631, -101.8551665), (33.6839473, -117.7946942), (36.09985959999999, -80.244216), (33.5386523, -112.1859866), (32.912624, -96.63888329999999), (25.8575963, -80.2781057), (39.5296329, -119.8138027), (36.7682088, -76.2874927), (33.3528264, -111.789027), (30.4582829, -91.1403196), (32.8140177, -96.9488945), (33.4941704, -111.9260519), (36.1988592, -115.1175013), (37.5482697, -121.9885719), (43.6187102, -116.2146068), (37.5407246, -77.4360481), (34.1083449, -117.2897652), (33.5206608, -86.80248999999999), (47.6587802, -117.4260466), (43.16103, -77.6109219), (41.6005448, -93.6091064), (37.63909719999999, -120.9968782), (35.0526641, -78.87835849999999), (47.2528768, -122.4442906), (34.1975048, -119.1770516), (34.0922335, -117.435048), (32.4609764, -84.9877094), (32.3668052, -86.2999689), (33.9424658, -117.2296717), (32.5251516, -93.7501789), (41.7605849, -88.32007150000001), (40.9312099, -73.89874689999999), (41.0814447, -81.51900529999999), (33.660297, -117.9992265), (34.7464809, -92.28959479999999), (33.4734978, -82.0105148), (35.2219971, -101.8312969), (34.1425078, -118.255075), (30.6953657, -88.0398912), (42.9633599, -85.6680863), (40.7607793, -111.8910474), (30.4382559, -84.28073289999999)]

In [46]:
# Test to see the json data
lat = 40.7128
lon = -74.0059
start = 1606460400
end = 1606546800
historical_url = f"http://api.openweathermap.org/data/2.5/air_pollution?lat={lat}&lon={lon}&appid={api_key}"
test_call = requests.get(historical_url).json()
print(test_call)

{'coord': {'lon': -74.0059, 'lat': 40.7128}, 'list': [{'main': {'aqi': 3}, 'components': {'co': 580.79, 'no': 9.5, 'no2': 79.51, 'o3': 0.49, 'so2': 4.47, 'pm2_5': 16.67, 'pm10': 23.03, 'nh3': 2.6}, 'dt': 1717471255}]}

In [13]:
historical_url = f"http://api.openweathermap.org/data/2.5/air_pollution/history?"

city_data = []

# Nov 28, 2020 - Nov 28, 2021
start = 1606460400
end = 1638082800
# Loop through all the cities in our list to fetch weather data
for i, (lat, lon) in enumerate(coordinates):

    # Create endpoint URL with each city
    city_url = f'{historical_url}lat={lat}&lon={lon}&start={start}&end={end}&appid={api_key}'

    # Run an API request for each of the cities
    try:
        # Parse the JSON and retrieve data
        city_air = requests.get(city_url).json()

        # Parse out latitude, longitude, max temp, humidity, cloudiness, wind speed, country, and date
        city_coords =  city_air['coord']
        city_stats = city_air['list'][0]['components']
        city_aqi = city_air['list'][0]['main']

        # Append the City information into city_data list
        city_data.append({"Coordinates": city_coords,
                          "Stats": city_stats,
                          "Air Quality Index": city_aqi
                        })
        print(f"Call {i} made successfully")

    # If an error is experienced, skip the city
    except Exception as e:
        print(f"An error occurred for city at {lat}, {lon}: {e}")
        raise
              
# Indicate that Data Loading is complete 
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

-----------------------------
Data Retrieval Complete
-----------------------------

In [16]:
pollution_df = pd.DataFrame(city_data)
pollution_df

,Coordinates,Stats,Air Quality Index
0,"{'lon': -74.0059, 'lat': 40.7128}","{'co': 520.71, 'no': 32.19, 'no2': 28.45, 'o3'...",{'aqi': 2}
1,"{'lon': -118.2437, 'lat': 34.0522}","{'co': 907.9, 'no': 72.42, 'no2': 69.92, 'o3':...",{'aqi': 4}
2,"{'lon': -87.6298, 'lat': 41.8781}","{'co': 347.14, 'no': 0.34, 'no2': 31.19, 'o3':...",{'aqi': 1}
3,"{'lon': -95.3698, 'lat': 29.7604}","{'co': 247, 'no': 0.05, 'no2': 14.22, 'o3': 19...",{'aqi': 1}
4,"{'lon': -75.1652, 'lat': 39.9526}","{'co': 417.23, 'no': 6.82, 'no2': 25.71, 'o3':...",{'aqi': 1}
...,...,...,...
120,"{'lon': -118.2551, 'lat': 34.1425}","{'co': 240.33, 'no': 0.01, 'no2': 20.56, 'o3':...",{'aqi': 1}
121,"{'lon': -88.0399, 'lat': 30.6954}","{'co': 323.77, 'no': 0.08, 'no2': 15.77, 'o3':...",{'aqi': 1}
122,"{'lon': -85.6681, 'lat': 42.9634}","{'co': 280.38, 'no': 0, 'no2': 15.59, 'o3': 39...",{'aqi': 1}
123,"{'lon': -111.891, 'lat': 40.7608}","{'co': 297.07, 'no': 0.38, 'no2': 38.39, 'o3':...",{'aqi': 1}
124,"{'lon': -84.2807, 'lat': 30.4383}","{'co': 198.6, 'no': 0.01, 'no2': 2.91, 'o3': 1...",{'aqi': 1}

## Run the next 3 cells just once.

In [29]:
# Reorder the Coordinates column

# Import ast to safely evaluate strings
import ast

# Function to convert string to dictionary
def str_to_dict(location):
    if isinstance(location, str):
        return ast.literal_eval(location)
    return location

# Apply the function to convert the 'Coordinates' column to a dictionary
pollution_df['Coordinates'] = pollution_df['Coordinates'].apply(str_to_dict)

# Create separate 'lat' and 'lon' columns
pollution_df['lat'] = pollution_df['Coordinates'].apply(lambda x: x['lat'])
pollution_df['lon'] = pollution_df['Coordinates'].apply(lambda x: x['lon'])

# Drop the original 'location' column if needed
pollution_df.drop(columns=['Coordinates'], inplace=True)

pollution_df

KeyError: 'Coordinates'

In [34]:
# Converting AQI to just a number

# Function to convert string to dictionary
def str_to_dict(aqi_str):
    if isinstance(aqi_str, str):
        return ast.literal_eval(aqi_str)
    return aqi_str

# Apply the function to convert the 'Air Quality Index' column to a dictionary
pollution_df['Air Quality Index'] = pollution_df['Air Quality Index'].apply(str_to_dict)

# Create a new column for 'aqi' values
pollution_df['AQI'] = pollution_df['Air Quality Index'].apply(lambda x: x['aqi'])

# Drop the original 'Air Quality Index' column if needed
pollution_df.drop(columns=['Air Quality Index'], inplace=True)

pollution_df

TypeError: 'int' object is not subscriptable

In [41]:
# Now for the Stats column

# Function to convert string to dictionary if needed and extract pollutants
def extract_pollutants(stats_value):
    try:
        if isinstance(stats_value, str):
            stats_value = ast.literal_eval(stats_value)
        if isinstance(stats_value, dict):
            return stats_value
    except (ValueError, SyntaxError, KeyError, TypeError) as e:
        # Handle unexpected formats
        return {}

# Apply the function to convert the 'stats' column to a dictionary
pollution_df['Stats'] = pollution_df['Stats'].apply(extract_pollutants)

# Normalize the 'stats' dictionary into separate columns
stats_df = pollution_df['Stats'].apply(pd.Series)

# Combine the original DataFrame with the new stats DataFrame
fixed_df = pd.concat([pollution_df, stats_df], axis=1)

# Drop the original 'stats' column if needed
fixed_df.drop(columns=['Stats'], inplace=True)

fixed_df

,Air Quality Index,lat,lon,co,no,no2,o3,so2,pm2_5,pm10,nh3
0,2,40.7128,-74.0059,520.71,32.19,28.45,0.00,3.22,14.19,20.84,1.39
1,4,34.0522,-118.2437,907.90,72.42,69.92,0.00,5.72,28.31,47.76,9.88
2,1,41.8781,-87.6298,347.14,0.34,31.19,16.81,4.59,7.75,11.57,0.71
3,1,29.7604,-95.3698,247.00,0.05,14.22,19.85,3.13,8.33,9.40,0.23
4,1,39.9526,-75.1652,417.23,6.82,25.71,0.37,2.95,9.42,12.84,0.33
...,...,...,...,...,...,...,...,...,...,...,...
120,1,34.1425,-118.2551,240.33,0.01,20.56,42.56,1.01,3.57,12.30,1.20
121,1,30.6954,-88.0399,323.77,0.08,15.77,7.96,0.40,7.39,8.60,0.26
122,1,42.9634,-85.6681,280.38,0.00,15.59,39.70,4.53,9.67,11.66,0.12
123,1,40.7608,-111.8910,297.07,0.38,38.39,13.59,1.28,7.77,11.82,2.25
124,1,30.4383,-84.2807,198.60,0.01,2.91,19.31,0.11,5.58,6.12,0.08

In [47]:
# Rename the columns
fixed_and_renamed_df = fixed_df.rename({"lat": "Latitude", "lon": "Longitude",
                            "co": "Carbon monoxide (CO)", "no": "Nitric Oxide (NO)",
                            "no2": "Nitrogen dioxide (NO2)", "o3": "Ozone (O3)",
                            "so2": "Sulfur Dioxide (SO2)", "pm2_5":"Particulates 2.5",
                            "pm10": "Particulates 10", "nh3": "Ammonia (NH3)"})

# Set the cities from the cities list as the index (This does preserve the order)
final_df = fixed_and_renamed_df.set_index(pd.Index(cities))
final_df

,Air Quality Index,lat,lon,co,no,no2,o3,so2,pm2_5,pm10,nh3
New York,2,40.7128,-74.0059,520.71,32.19,28.45,0.00,3.22,14.19,20.84,1.39
Los Angeles,4,34.0522,-118.2437,907.90,72.42,69.92,0.00,5.72,28.31,47.76,9.88
Chicago,1,41.8781,-87.6298,347.14,0.34,31.19,16.81,4.59,7.75,11.57,0.71
Houston,1,29.7604,-95.3698,247.00,0.05,14.22,19.85,3.13,8.33,9.40,0.23
Philadelphia,1,39.9526,-75.1652,417.23,6.82,25.71,0.37,2.95,9.42,12.84,0.33
...,...,...,...,...,...,...,...,...,...,...,...
Glendale,1,34.1425,-118.2551,240.33,0.01,20.56,42.56,1.01,3.57,12.30,1.20
Mobile,1,30.6954,-88.0399,323.77,0.08,15.77,7.96,0.40,7.39,8.60,0.26
Grand Rapids,1,42.9634,-85.6681,280.38,0.00,15.59,39.70,4.53,9.67,11.66,0.12
Salt Lake City,1,40.7608,-111.8910,297.07,0.38,38.39,13.59,1.28,7.77,11.82,2.25
Tallahassee,1,30.4383,-84.2807,198.60,0.01,2.91,19.31,0.11,5.58,6.12,0.08