# Geoapify Geocode Demo

In [32]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import requests
import time
import json
from scipy.stats import linregress
from pprint import pprint

# API key
api_key = "60a6ffdd990b65ca16853197a6e0c84c"

In [33]:
path = "..\project_3\cities.json"

with open(path, 'r') as file:
    data = json.load(file)

# Initialize lists to store cities and coordinates
cities = []
coordinates = []

# Extract data from JSON
for entry in data:
    cities.append(entry['city'])
    coordinates.append((entry['latitude'], entry['longitude']))

# Print the lists
print("Cities:", cities)
print("Coordinates:", coordinates)

Cities: ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia', 'Phoenix', 'San Antonio', 'San Diego', 'Dallas', 'San Jose', 'Austin', 'Indianapolis', 'Jacksonville', 'San Francisco', 'Columbus', 'Charlotte', 'Fort Worth', 'Detroit', 'El Paso', 'Memphis', 'Seattle', 'Denver', 'Washington', 'Boston', 'Nashville-Davidson', 'Baltimore', 'Oklahoma City', 'Louisville/Jefferson County', 'Portland', 'Las Vegas', 'Milwaukee', 'Albuquerque', 'Tucson', 'Fresno', 'Sacramento', 'Long Beach', 'Kansas City', 'Mesa', 'Virginia Beach', 'Atlanta', 'Colorado Springs', 'Omaha', 'Raleigh', 'Miami', 'Oakland', 'Minneapolis', 'Tulsa', 'Cleveland', 'Wichita', 'Arlington', 'New Orleans', 'Bakersfield', 'Tampa', 'Honolulu', 'Aurora', 'Anaheim', 'Santa Ana', 'St. Louis', 'Riverside', 'Corpus Christi', 'Lexington-Fayette', 'Pittsburgh', 'Anchorage', 'Stockton', 'Cincinnati', 'St. Paul', 'Toledo', 'Greensboro', 'Newark', 'Plano', 'Henderson', 'Lincoln', 'Buffalo', 'Jersey City', 'Chula Vista', 'Fort Wayne', 'Orlando', 'St. Petersburg', 'Chandler', 'Laredo', 'Norfolk', 'Durham', 'Madison', 'Lubbock', 'Irvine', 'Winston-Salem', 'Glendale', 'Garland', 'Hialeah', 'Reno', 'Chesapeake', 'Gilbert', 'Baton Rouge', 'Irving', 'Scottsdale', 'North Las Vegas', 'Fremont', 'Boise City', 'Richmond', 'San Bernardino', 'Birmingham', 'Spokane', 'Rochester', 'Des Moines', 'Modesto', 'Fayetteville', 'Tacoma', 'Oxnard', 'Fontana', 'Columbus', 'Montgomery', 'Moreno Valley', 'Shreveport', 'Aurora', 'Yonkers', 'Akron', 'Huntington Beach', 'Little Rock', 'Augusta-Richmond County', 'Amarillo', 'Glendale', 'Mobile', 'Grand Rapids', 'Salt Lake City', 'Tallahassee']
Coordinates: [(40.7127837, -74.0059413), (34.0522342, -118.2436849), (41.8781136, -87.6297982), (29.7604267, -95.3698028), (39.9525839, -75.1652215), (33.4483771, -112.0740373), (29.4241219, -98.49362819999999), (32.715738, -117.1610838), (32.7766642, -96.79698789999999), (37.3382082, -121.8863286), (30.267153, -97.7430608), (39.768403, -86.158068), (30.3321838, -81.65565099999999), (37.7749295, -122.4194155), (39.9611755, -82.99879419999999), (35.2270869, -80.8431267), (32.7554883, -97.3307658), (42.331427, -83.0457538), (31.7775757, -106.4424559), (35.1495343, -90.0489801), (47.6062095, -122.3320708), (39.7392358, -104.990251), (38.9071923, -77.0368707), (42.3600825, -71.0588801), (36.1626638, -86.7816016), (39.2903848, -76.6121893), (35.4675602, -97.5164276), (38.2526647, -85.7584557), (45.5230622, -122.6764816), (36.1699412, -115.1398296), (43.0389025, -87.9064736), (35.0853336, -106.6055534), (32.2217429, -110.926479), (36.7468422, -119.7725868), (38.5815719, -121.4943996), (33.7700504, -118.1937395), (39.0997265, -94.5785667), (33.4151843, -111.8314724), (36.8529263, -75.97798499999999), (33.7489954, -84.3879824), (38.8338816, -104.8213634), (41.2523634, -95.99798829999999), (35.7795897, -78.6381787), (25.7616798, -80.1917902), (37.8043637, -122.2711137), (44.977753, -93.2650108), (36.1539816, -95.99277500000001), (41.49932, -81.6943605), (37.688889, -97.336111), (32.735687, -97.10806559999999), (29.95106579999999, -90.0715323), (35.3732921, -119.0187125), (27.950575, -82.4571776), (21.3069444, -157.8583333), (39.7294319, -104.8319195), (33.8352932, -117.9145036), (33.7455731, -117.8678338), (38.6270025, -90.19940419999999), (33.9533487, -117.3961564), (27.8005828, -97.39638099999999), (38.0405837, -84.5037164), (40.44062479999999, -79.9958864), (61.2180556, -149.9002778), (37.9577016, -121.2907796), (39.1031182, -84.5120196), (44.9537029, -93.0899578), (41.6639383, -83.55521200000001), (36.0726354, -79.7919754), (40.735657, -74.1723667), (33.0198431, -96.6988856), (36.0395247, -114.9817213), (40.8257625, -96.6851982), (42.88644679999999, -78.8783689), (40.72815749999999, -74.0776417), (32.6400541, -117.0841955), (41.079273, -85.1393513), (28.5383355, -81.3792365), (27.773056, -82.64), (33.3061605, -111.8412502), (27.5305671, -99.48032409999999), (36.8507689, -76.28587259999999), (35.9940329, -78.898619), (43.0730517, -89.4012302), (33.5778631, -101.8551665), (33.6839473, -117.7946942), (36.09985959999999, -80.244216), (33.5386523, -112.1859866), (32.912624, -96.63888329999999), (25.8575963, -80.2781057), (39.5296329, -119.8138027), (36.7682088, -76.2874927), (33.3528264, -111.789027), (30.4582829, -91.1403196), (32.8140177, -96.9488945), (33.4941704, -111.9260519), (36.1988592, -115.1175013), (37.5482697, -121.9885719), (43.6187102, -116.2146068), (37.5407246, -77.4360481), (34.1083449, -117.2897652), (33.5206608, -86.80248999999999), (47.6587802, -117.4260466), (43.16103, -77.6109219), (41.6005448, -93.6091064), (37.63909719999999, -120.9968782), (35.0526641, -78.87835849999999), (47.2528768, -122.4442906), (34.1975048, -119.1770516), (34.0922335, -117.435048), (32.4609764, -84.9877094), (32.3668052, -86.2999689), (33.9424658, -117.2296717), (32.5251516, -93.7501789), (41.7605849, -88.32007150000001), (40.9312099, -73.89874689999999), (41.0814447, -81.51900529999999), (33.660297, -117.9992265), (34.7464809, -92.28959479999999), (33.4734978, -82.0105148), (35.2219971, -101.8312969), (34.1425078, -118.255075), (30.6953657, -88.0398912), (42.9633599, -85.6680863), (40.7607793, -111.8910474), (30.4382559, -84.28073289999999)]

In [34]:
# Test to see the json data
lat = 40.7128
lon = -74.0059
start = 1606546800
end = 1606590000
historical_url = f"http://api.openweathermap.org/data/2.5/air_pollution/history?lat={lat}&lon={lon}&start={start}&end={end}&appid={api_key}"
test_call = requests.get(historical_url).json()
pprint(test_call)

{'coord': {'lat': 40.7128, 'lon': -74.0059},
 'list': [{'components': {'co': 407.22,
                          'nh3': 0.72,
                          'no': 8.49,
                          'no2': 30.85,
                          'o3': 0.44,
                          'pm10': 11.53,
                          'pm2_5': 7.8,
                          'so2': 2.41},
           'dt': 1606546800,
           'main': {'aqi': 1}},
          {'components': {'co': 423.91,
                          'nh3': 0.83,
                          'no': 12.85,
                          'no2': 29.13,
                          'o3': 0.12,
                          'pm10': 13.09,
                          'pm2_5': 9.04,
                          'so2': 2.33},
           'dt': 1606550400,
           'main': {'aqi': 1}},
          {'components': {'co': 453.95,
                          'nh3': 1.09,
                          'no': 17.88,
                          'no2': 28.79,
                          'o3': 0.03,
                          'pm10': 15.31,
                          'pm2_5': 10.68,
                          'so2': 2.65},
           'dt': 1606554000,
           'main': {'aqi': 2}},
          {'components': {'co': 473.98,
                          'nh3': 1.27,
                          'no': 22.13,
                          'no2': 29.47,
                          'o3': 0.01,
                          'pm10': 17.26,
                          'pm2_5': 11.98,
                          'so2': 3.04},
           'dt': 1606557600,
           'main': {'aqi': 2}},
          {'components': {'co': 507.36,
                          'nh3': 1.44,
                          'no': 26.82,
                          'no2': 31.19,
                          'o3': 0,
                          'pm10': 19.07,
                          'pm2_5': 13.19,
                          'so2': 3.31},
           'dt': 1606561200,
           'main': {'aqi': 2}},
          {'components': {'co': 627.52,
                          'nh3': 2.79,
                          'no': 44.7,
                          'no2': 35.3,
                          'o3': 0,
                          'pm10': 25.89,
                          'pm2_5': 18.11,
                          'so2': 3.79},
           'dt': 1606564800,
           'main': {'aqi': 2}},
          {'components': {'co': 727.65,
                          'nh3': 4.18,
                          'no': 59.9,
                          'no2': 40.1,
                          'o3': 0.14,
                          'pm10': 29.75,
                          'pm2_5': 20.77,
                          'so2': 4.77},
           'dt': 1606568400,
           'main': {'aqi': 3}},
          {'components': {'co': 814.44,
                          'nh3': 5.57,
                          'no': 76,
                          'no2': 40.1,
                          'o3': 1.39,
                          'pm10': 33.65,
                          'pm2_5': 22.8,
                          'so2': 5.25},
           'dt': 1606572000,
           'main': {'aqi': 3}},
          {'components': {'co': 807.76,
                          'nh3': 6.02,
                          'no': 76,
                          'no2': 36.67,
                          'o3': 3.22,
                          'pm10': 33.33,
                          'pm2_5': 21.53,
                          'so2': 5.66},
           'dt': 1606575600,
           'main': {'aqi': 3}},
          {'components': {'co': 367.17,
                          'nh3': 1.79,
                          'no': 8.72,
                          'no2': 28.45,
                          'o3': 36.12,
                          'pm10': 10.27,
                          'pm2_5': 6.47,
                          'so2': 6.56},
           'dt': 1606579200,
           'main': {'aqi': 1}},
          {'components': {'co': 293.73,
                          'nh3': 1.16,
                          'no': 3.49,
                          'no2': 17.31,
                          'o3': 54.36,
                          'pm10': 6.03,
                          'pm2_5': 3.63,
                          'so2': 5.07},
           'dt': 1606582800,
           'main': {'aqi': 1}},
          {'components': {'co': 273.71,
                          'nh3': 0.9,
                          'no': 2.38,
                          'no2': 13.54,
                          'o3': 61.51,
                          'pm10': 4.74,
                          'pm2_5': 2.93,
                          'so2': 4.29},
           'dt': 1606586400,
           'main': {'aqi': 1}},
          {'components': {'co': 277.04,
                          'nh3': 0.95,
                          'no': 2.35,
                          'no2': 14.91,
                          'o3': 57.22,
                          'pm10': 4.65,
                          'pm2_5': 3,
                          'so2': 4.53},
           'dt': 1606590000,
           'main': {'aqi': 1}}]}

In [35]:
# Make the API call for the first year

historical_url = f"http://api.openweathermap.org/data/2.5/air_pollution/history?"

city_data2020 = []

# Nov 28, 2020 - Nov 28, 2021 *ONE DAY IS +86,400*
start = 1606460400
end = 1638082800
# Loop through all the cities in our list to fetch weather data
for i, (lat, lon) in enumerate(coordinates):

    # Create endpoint URL with each city
    city_url = f'{historical_url}lat={lat}&lon={lon}&start={start}&end={end}&appid={api_key}'

    # Run an API request for each of the cities
    try:
        # Parse the JSON and retrieve data
        city_air = requests.get(city_url).json()
        # Parse out latitude, longitude, max temp, humidity, cloudiness, wind speed, country, and date
        for j, day in enumerate(city_air['list']):
            # Only process every 24th entry to get daily data
            if j % 24 == 0:
                city_stats = day['components']
                city_aqi = day['main']
                city_date = day['dt']
                # And append it to the list to use later in the dataframe
                city_data2020.append({
                    "Latitude": lat,
                    "Longitude": lon,
                    "Date": city_date,
                    "Components": city_stats,
                    "Air Quality Index": city_aqi,
                    "City Name": cities[i]
                })
        print(f"Call {i} made successfully")

    # If an error is experienced, skip the city
    except Exception as e:
        print(f"An error occurred for city at {lat}, {lon}: {e}")
        raise
              
# Indicate that Data Loading is complete 
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Call 0 made successfully
Call 1 made successfully
Call 2 made successfully
Call 3 made successfully
Call 4 made successfully
Call 5 made successfully
Call 6 made successfully
Call 7 made successfully
Call 8 made successfully
Call 9 made successfully
Call 10 made successfully
Call 11 made successfully
Call 12 made successfully
Call 13 made successfully
Call 14 made successfully
Call 15 made successfully
Call 16 made successfully
Call 17 made successfully
Call 18 made successfully
Call 19 made successfully
Call 20 made successfully
Call 21 made successfully
Call 22 made successfully
Call 23 made successfully
Call 24 made successfully
Call 25 made successfully
Call 26 made successfully
Call 27 made successfully
Call 28 made successfully
Call 29 made successfully
Call 30 made successfully
Call 31 made successfully
Call 32 made successfully
Call 33 made successfully
Call 34 made successfully
Call 35 made successfully
Call 36 made successfully
Call 37 made successfully
Call 38 made successfully
Call 39 made successfully
Call 40 made successfully
Call 41 made successfully
Call 42 made successfully
Call 43 made successfully
Call 44 made successfully
Call 45 made successfully
Call 46 made successfully
Call 47 made successfully
Call 48 made successfully
Call 49 made successfully
Call 50 made successfully
Call 51 made successfully
Call 52 made successfully
Call 53 made successfully
Call 54 made successfully
Call 55 made successfully
Call 56 made successfully
Call 57 made successfully
Call 58 made successfully
Call 59 made successfully
Call 60 made successfully
Call 61 made successfully
Call 62 made successfully
Call 63 made successfully
Call 64 made successfully
Call 65 made successfully
Call 66 made successfully
Call 67 made successfully
Call 68 made successfully
Call 69 made successfully
Call 70 made successfully
Call 71 made successfully
Call 72 made successfully
Call 73 made successfully
Call 74 made successfully
Call 75 made successfully
Call 76 made successfully
Call 77 made successfully
Call 78 made successfully
Call 79 made successfully
Call 80 made successfully
Call 81 made successfully
Call 82 made successfully
Call 83 made successfully
Call 84 made successfully
Call 85 made successfully
Call 86 made successfully
Call 87 made successfully
Call 88 made successfully
Call 89 made successfully
Call 90 made successfully
Call 91 made successfully
Call 92 made successfully
Call 93 made successfully
Call 94 made successfully
Call 95 made successfully
Call 96 made successfully
Call 97 made successfully
Call 98 made successfully
Call 99 made successfully
Call 100 made successfully
Call 101 made successfully
Call 102 made successfully
Call 103 made successfully
Call 104 made successfully
Call 105 made successfully
Call 106 made successfully
Call 107 made successfully
Call 108 made successfully
Call 109 made successfully
Call 110 made successfully
Call 111 made successfully
Call 112 made successfully
Call 113 made successfully
Call 114 made successfully
Call 115 made successfully
Call 116 made successfully
Call 117 made successfully
Call 118 made successfully
Call 119 made successfully
Call 120 made successfully
Call 121 made successfully
Call 122 made successfully
Call 123 made successfully
Call 124 made successfully
-----------------------------
Data Retrieval Complete
-----------------------------

In [ ]:
# Make the API call for the second year

historical_url = f"http://api.openweathermap.org/data/2.5/air_pollution/history?"

city_data2021 = []

# Nov 28, 2021 - Nov 28, 2022 *ONE DAY IS +86,400*
start = 1638082800
end = 1669618800
# Loop through all the cities in our list to fetch weather data
for i, (lat, lon) in enumerate(coordinates):

    # Create endpoint URL with each city
    city_url = f'{historical_url}lat={lat}&lon={lon}&start={start}&end={end}&appid={api_key}'

    # Run an API request for each of the cities
    try:
        # Parse the JSON and retrieve data
        city_air = requests.get(city_url).json()
        # Parse out latitude, longitude, max temp, humidity, cloudiness, wind speed, country, and date
        for j, day in enumerate(city_air['list']):
            # Only process every 24th entry to get daily data
            if j % 24 == 0:
                city_stats = day['components']
                city_aqi = day['main']
                city_date = day['dt']
                # And append it to the list to use later in the dataframe
                city_data2021.append({
                    "Latitude": lat,
                    "Longitude": lon,
                    "Date": city_date,
                    "Components": city_stats,
                    "Air Quality Index": city_aqi,
                    "City Name": cities[i]
                })
        print(f"Call {i} made successfully")

    # If an error is experienced, skip the city
    except Exception as e:
        print(f"An error occurred for city at {lat}, {lon}: {e}")
        raise
              
# Indicate that Data Loading is complete 
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

In [ ]:
# Make the API call for the third year

historical_url = f"http://api.openweathermap.org/data/2.5/air_pollution/history?"

city_data2022 = []

# Nov 28, 2022 - Nov 28, 2023 *ONE DAY IS +86,400*
start = 1669618800
end = 1701154800

# Loop through all the cities in our list to fetch weather data
for i, (lat, lon) in enumerate(coordinates):

    # Create endpoint URL with each city
    city_url = f'{historical_url}lat={lat}&lon={lon}&start={start}&end={end}&appid={api_key}'

    # Run an API request for each of the cities
    try:
        # Parse the JSON and retrieve data
        city_air = requests.get(city_url).json()
        # Parse out latitude, longitude, max temp, humidity, cloudiness, wind speed, country, and date
        for j, day in enumerate(city_air['list']):
            # Only process every 24th entry to get daily data
            if j % 24 == 0:
                city_stats = day['components']
                city_aqi = day['main']
                city_date = day['dt']
                # And append it to the list to use later in the dataframe
                city_data2022.append({
                    "Latitude": lat,
                    "Longitude": lon,
                    "Date": city_date,
                    "Components": city_stats,
                    "Air Quality Index": city_aqi,
                    "City Name": cities[i]
                })
        print(f"Call {i} made successfully")

    # If an error is experienced, skip the city
    except Exception as e:
        print(f"An error occurred for city at {lat}, {lon}: {e}")
        raise
              
# Indicate that Data Loading is complete 
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

In [36]:
pollution2020_df = pd.DataFrame(city_data2020)
pollution2021_df = pd.DataFrame(city_data2021)
pollution2022_df = pd.DataFrame(city_data2022)
pollution2020_df

,Latitude,Longitude,Date,Components,Air Quality Index,City Name
0,40.712784,-74.005941,1606460400,"{'co': 520.71, 'no': 32.19, 'no2': 28.45, 'o3'...",{'aqi': 2},New York
1,40.712784,-74.005941,1606546800,"{'co': 407.22, 'no': 8.49, 'no2': 30.85, 'o3':...",{'aqi': 1},New York
2,40.712784,-74.005941,1606633200,"{'co': 397.21, 'no': 2.32, 'no2': 39.07, 'o3':...",{'aqi': 1},New York
3,40.712784,-74.005941,1606719600,"{'co': 747.68, 'no': 46.94, 'no2': 64.43, 'o3'...",{'aqi': 4},New York
4,40.712784,-74.005941,1606806000,"{'co': 337.12, 'no': 1.79, 'no2': 35.99, 'o3':...",{'aqi': 1},New York
...,...,...,...,...,...,...
45696,30.438256,-84.280733,1637737200,"{'co': 287.06, 'no': 0, 'no2': 3.43, 'o3': 52....",{'aqi': 1},Tallahassee
45697,30.438256,-84.280733,1637823600,"{'co': 247, 'no': 0, 'no2': 1.91, 'o3': 55.07,...",{'aqi': 1},Tallahassee
45698,30.438256,-84.280733,1637910000,"{'co': 230.31, 'no': 0, 'no2': 1.65, 'o3': 53....",{'aqi': 1},Tallahassee
45699,30.438256,-84.280733,1637996400,"{'co': 263.69, 'no': 0, 'no2': 2.38, 'o3': 56....",{'aqi': 1},Tallahassee
45700,30.438256,-84.280733,1638082800,"{'co': 390.53, 'no': 0.3, 'no2': 16.62, 'o3': ...",{'aqi': 2},Tallahassee

## Run the next 4 cells just once.

In [43]:
# Reorder the Coordinates column

# Import ast to safely evaluate strings
import ast

# Function to convert string to dictionary
def str_to_dict(location):
    if isinstance(location, str):
        return ast.literal_eval(location)
    return location

# Apply the function to convert the 'Coordinates' column to a dictionary
pollution2020_df['Coordinates'] = pollution2020_df['Coordinates'].apply(str_to_dict)
pollution2021_df['Coordinates'] = pollution2021_df['Coordinates'].apply(str_to_dict)
pollution2022_df['Coordinates'] = pollution2022_df['Coordinates'].apply(str_to_dict)

# Create separate 'lat' and 'lon' columns
pollution2020_df['lat'] = pollution2020_df['Coordinates'].apply(lambda x: x['lat'])
pollution2020_df['lon'] = pollution2020_df['Coordinates'].apply(lambda x: x['lon'])

pollution2021_df['lat'] = pollution2021_df['Coordinates'].apply(lambda x: x['lat'])
pollution2021_df['lon'] = pollution2021_df['Coordinates'].apply(lambda x: x['lon'])

pollution2022_df['lat'] = pollution2022_df['Coordinates'].apply(lambda x: x['lat'])
pollution2022_df['lon'] = pollution2022_df['Coordinates'].apply(lambda x: x['lon'])

# Drop the original 'location' column if needed
pollution2020_df.drop(columns=['Coordinates'], inplace=True)
pollution2021_df.drop(columns=['Coordinates'], inplace=True)
pollution2022_df.drop(columns=['Coordinates'], inplace=True)

pollution2020_df

KeyError: 'Coordinates'

In [39]:
# Converting AQI to just a number

# Function to convert string to dictionary
def str_to_dict(aqi_str):
    if isinstance(aqi_str, str):
        return ast.literal_eval(aqi_str)
    return aqi_str

# Apply the function to convert the 'Air Quality Index' column to a dictionary
pollution2020_df['Air Quality Index'] = pollution2020_df['Air Quality Index'].apply(str_to_dict)
pollution2021_df['Air Quality Index'] = pollution2021_df['Air Quality Index'].apply(str_to_dict)
pollution2022_df['Air Quality Index'] = pollution2022_df['Air Quality Index'].apply(str_to_dict)

# Create a new column for 'aqi' values
pollution2020_df['AQI'] = pollution2020_df['Air Quality Index'].apply(lambda x: x['aqi'])

pollution2021_df['AQI'] = pollution2021_df['Air Quality Index'].apply(lambda x: x['aqi'])

pollution2022_df['AQI'] = pollution2022_df['Air Quality Index'].apply(lambda x: x['aqi'])

# Drop the original 'Air Quality Index' column if needed
pollution2020_df.drop(columns=['Air Quality Index'], inplace=True)
pollution2021_df.drop(columns=['Air Quality Index'], inplace=True)
pollution2022_df.drop(columns=['Air Quality Index'], inplace=True)

pollution2020_df

,Latitude,Longitude,Date,Components,City Name,AQI
0,40.712784,-74.005941,1606460400,"{'co': 520.71, 'no': 32.19, 'no2': 28.45, 'o3'...",New York,2
1,40.712784,-74.005941,1606546800,"{'co': 407.22, 'no': 8.49, 'no2': 30.85, 'o3':...",New York,1
2,40.712784,-74.005941,1606633200,"{'co': 397.21, 'no': 2.32, 'no2': 39.07, 'o3':...",New York,1
3,40.712784,-74.005941,1606719600,"{'co': 747.68, 'no': 46.94, 'no2': 64.43, 'o3'...",New York,4
4,40.712784,-74.005941,1606806000,"{'co': 337.12, 'no': 1.79, 'no2': 35.99, 'o3':...",New York,1
...,...,...,...,...,...,...
45696,30.438256,-84.280733,1637737200,"{'co': 287.06, 'no': 0, 'no2': 3.43, 'o3': 52....",Tallahassee,1
45697,30.438256,-84.280733,1637823600,"{'co': 247, 'no': 0, 'no2': 1.91, 'o3': 55.07,...",Tallahassee,1
45698,30.438256,-84.280733,1637910000,"{'co': 230.31, 'no': 0, 'no2': 1.65, 'o3': 53....",Tallahassee,1
45699,30.438256,-84.280733,1637996400,"{'co': 263.69, 'no': 0, 'no2': 2.38, 'o3': 56....",Tallahassee,1
45700,30.438256,-84.280733,1638082800,"{'co': 390.53, 'no': 0.3, 'no2': 16.62, 'o3': ...",Tallahassee,2

In [44]:
# Now for the Stats column

# Function to convert string to dictionary if needed and extract pollutants
def extract_pollutants(stats_value):
    try:
        if isinstance(stats_value, str):
            stats_value = ast.literal_eval(stats_value)
        if isinstance(stats_value, dict):
            return stats_value
    except (ValueError, SyntaxError, KeyError, TypeError) as e:
        # Handle unexpected formats
        return {}

# Apply the function to convert the 'stats' column to a dictionary
pollution2020_df['Components'] = pollution2020_df['Components'].apply(extract_pollutants)
pollution2021_df['Components'] = pollution2021_df['Components'].apply(extract_pollutants)
pollution2022_df['Components'] = pollution2022_df['Components'].apply(extract_pollutants)

# Normalize the 'stats' dictionary into separate columns
stats2020_df = pollution2020_df['Components'].apply(pd.Series)
stats2021_df = pollution2021_df['Components'].apply(pd.Series)
stats2022_df = pollution2022_df['Components'].apply(pd.Series)

# Combine the original DataFrame with the new stats DataFrame
fixed2020_df = pd.concat([pollution2020_df, stats2020_df], axis=1)
fixed2021_df = pd.concat([pollution2021_df, stats2021_df], axis=1)
fixed2022_df = pd.concat([pollution2022_df, stats2022_df], axis=1)

# Drop the original 'stats' column if needed
fixed2020_df.drop(columns=['Components'], inplace=True)
fixed2021_df.drop(columns=['Components'], inplace=True)
fixed2022_df.drop(columns=['Components'], inplace=True)

fixed2020_df

,Latitude,Longitude,Date,City Name,AQI,co,no,no2,o3,so2,pm2_5,pm10,nh3
0,40.712784,-74.005941,1606460400,New York,2,520.71,32.19,28.45,0.00,3.22,14.19,20.84,1.39
1,40.712784,-74.005941,1606546800,New York,1,407.22,8.49,30.85,0.44,2.41,7.80,11.53,0.72
2,40.712784,-74.005941,1606633200,New York,1,397.21,2.32,39.07,6.35,2.80,7.13,10.66,1.36
3,40.712784,-74.005941,1606719600,New York,4,747.68,46.94,64.43,0.00,7.87,29.48,39.34,3.17
4,40.712784,-74.005941,1606806000,New York,1,337.12,1.79,35.99,6.35,7.21,8.55,10.80,1.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45696,30.438256,-84.280733,1637737200,Tallahassee,1,287.06,0.00,3.43,52.93,0.39,4.75,5.27,0.68
45697,30.438256,-84.280733,1637823600,Tallahassee,1,247.00,0.00,1.91,55.07,0.38,3.22,5.65,0.05
45698,30.438256,-84.280733,1637910000,Tallahassee,1,230.31,0.00,1.65,53.64,0.21,4.01,6.60,0.00
45699,30.438256,-84.280733,1637996400,Tallahassee,1,263.69,0.00,2.38,56.51,0.35,2.20,2.68,0.66
45700,30.438256,-84.280733,1638082800,Tallahassee,2,390.53,0.30,16.62,3.40,0.08,12.49,13.84,0.45

In [57]:
# Convert the ugly unix timestamp to a date
fixed2020_df['Date'] = pd.to_datetime(fixed2020_df['Date'], unit='s')
fixed2020_df['Date'] = fixed2020_df['Date'].dt.strftime('%Y-%m-%d %H:%M')

fixed2021_df['Date'] = pd.to_datetime(fixed2021_df['Date'], unit='s')
fixed2021_df['Date'] = fixed2021_df['Date'].dt.strftime('%Y-%m-%d %H:%M')

fixed2022_df['Date'] = pd.to_datetime(fixed2022_df['Date'], unit='s')
fixed2022_df['Date'] = fixed2022_df['Date'].dt.strftime('%Y-%m-%d %H:%M')

fixed2020_df.head()

AttributeError: Can only use .dt accessor with datetimelike values

In [53]:
# Rename the columns
fixed2020_df = fixed2020_df.rename(columns={"lat": "Latitude", "lon": "Longitude",
                            "co": "Carbon monoxide (CO)", "no": "Nitric Oxide (NO)",
                            "no2": "Nitrogen dioxide (NO2)", "o3": "Ozone (O3)",
                            "so2": "Sulfur Dioxide (SO2)", "pm2_5":"Particulates 2.5",
                            "pm10": "Particulates 10", "nh3": "Ammonia (NH3)"})
fixed2021_df = fixed2021_df.rename(columns={"lat": "Latitude", "lon": "Longitude",
                            "co": "Carbon monoxide (CO)", "no": "Nitric Oxide (NO)",
                            "no2": "Nitrogen dioxide (NO2)", "o3": "Ozone (O3)",
                            "so2": "Sulfur Dioxide (SO2)", "pm2_5":"Particulates 2.5",
                            "pm10": "Particulates 10", "nh3": "Ammonia (NH3)"})
fixed2022_df = fixed2022_df.rename(columns={"lat": "Latitude", "lon": "Longitude",
                            "co": "Carbon monoxide (CO)", "no": "Nitric Oxide (NO)",
                            "no2": "Nitrogen dioxide (NO2)", "o3": "Ozone (O3)",
                            "so2": "Sulfur Dioxide (SO2)", "pm2_5":"Particulates 2.5",
                            "pm10": "Particulates 10", "nh3": "Ammonia (NH3)"})

# Set the cities from the cities list as the index (This does preserve the order)
fixed2020_df

,Latitude,Longitude,Date,City Name,AQI,Carbon monoxide (CO),Nitric Oxide (NO),Nitrogen dioxide (NO2),Ozone (O3),Sulfur Dioxide (SO2),Particulates 2.5,Particulates 10,Ammonia (NH3)
0,40.712784,-74.005941,2020-11-27 07:00,New York,2,520.71,32.19,28.45,0.00,3.22,14.19,20.84,1.39
1,40.712784,-74.005941,2020-11-28 07:00,New York,1,407.22,8.49,30.85,0.44,2.41,7.80,11.53,0.72
2,40.712784,-74.005941,2020-11-29 07:00,New York,1,397.21,2.32,39.07,6.35,2.80,7.13,10.66,1.36
3,40.712784,-74.005941,2020-11-30 07:00,New York,4,747.68,46.94,64.43,0.00,7.87,29.48,39.34,3.17
4,40.712784,-74.005941,2020-12-01 07:00,New York,1,337.12,1.79,35.99,6.35,7.21,8.55,10.80,1.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45696,30.438256,-84.280733,2021-11-24 07:00,Tallahassee,1,287.06,0.00,3.43,52.93,0.39,4.75,5.27,0.68
45697,30.438256,-84.280733,2021-11-25 07:00,Tallahassee,1,247.00,0.00,1.91,55.07,0.38,3.22,5.65,0.05
45698,30.438256,-84.280733,2021-11-26 07:00,Tallahassee,1,230.31,0.00,1.65,53.64,0.21,4.01,6.60,0.00
45699,30.438256,-84.280733,2021-11-27 07:00,Tallahassee,1,263.69,0.00,2.38,56.51,0.35,2.20,2.68,0.66
45700,30.438256,-84.280733,2021-11-28 07:00,Tallahassee,2,390.53,0.30,16.62,3.40,0.08,12.49,13.84,0.45

In [54]:
# Export as csv to use in a  SQL database
fixed2020_df.to_csv("data2020.csv", index=True)
fixed2021_df.to_csv("data2021.csv", index=True)
fixed2022_df.to_csv("data2022.csv", index=True)